{% extends 'layouts/base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset("/app/ressources/css/conecxion.css")}}" rel="stylesheet">

{% endblock %}

{% block body %}
	<div class="container mt-5" id="login">
		<div class="row justify-content-center">
			<div class="col-lg-5 d-flex align-items-center container-login">
				<div class="login w-100 ">
					<?php
				include_once getenv("DOCUMENT_ROOT") . '/App/Ressources/Alert.php';

				?>

					<form method="post">
						<div class="mb-4">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes deja connecté
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<div class="form-group">
								<input type="email" value="{{ last_username }}" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Votre email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Mot de passe">
							</div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="form-check ">
								<input class="form-check-input" type="checkbox" name="_remember_me" id="defaultCheck1">
								<label class="form-check-label" for="defaultCheck1">
									souvenir de moi
								</label>
							</div>
							<div>
								<button type="submit" class="btn btn-block btn-classik">Valider</button>
							</div>
							{# <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<div class="checkbox mb-3">
								<label>
									<input type="checkbox" name="_remember_me">
									Remember me
								</label>
							</div>
						</div>
						<button class="btn btn-lg btn-primary" type="submit">
							Sign in
						</button> #}
					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
